@import '../../../styles/common.scss';

@include without-button;

.s_body_input {
  width: 168px;
  height: 43px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  border: none;
  outline: none;
  background-color: #f8f8f8;
  border-bottom: 1px solid $primary;
  margin: {
    top: 20px;
    bottom: 10px;
  }
}

.s_height_info {
  span {
    display: inline-block;
    width: 3em;
  }
}

.s_weight_info {
  span {
    display: inline-block;
    width: 3em;
  }
}
