@import './color';

.a11yhidden {
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin survey-default-with-button {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 20px;
    margin-top: 53px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // width: 360px;
    // height: 640px;

    input {
      width: 248px;
      height: 43px;
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      border: none;
      outline: none;
      background-color: #f8f8f8;
      border-bottom: 1px solid $primary;
      margin: {
        top: 20px;
        bottom: 10px;
      }
    }

    .error__icon {
      position: absolute;
    }

    h2 {
      font-size: 20px;
      text-align: center;
      margin-top: 53px;

      span {
        color: $primary;
      }
    }

    h3 {
      font-size: 15px;
      text-align: center;
    }
  }

  .next__button {
    width: 100%;
    height: 54px;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: $primary;

    &:disabled {
      color: black;
      background-color: $primaryVariant1;
    }
  }

  .error_msg {
    top: 0;
    color: $errorMessage;
    margin-bottom: 6px;
    font-size: 12px;
  }
}

@mixin survey-default-without-button {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 640px;

    h2 {
      font-size: 20px;
      text-align: center;
      margin-top: 53px;

      span {
        color: $primary;
      }
    }

    h3 {
      font-size: 15px;
      text-align: center;
    }
  }

  .next__button {
    width: 100%;
    height: 54px;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: $primary;

    &:disabled {
      color: black;
      background-color: $primaryVariant1;
    }
  }

  .error_msg {
    top: 0;
    color: red;
    margin-bottom: 6px;
    font-size: 12px;
  }
}
