@import '../../../styles/common.scss';

@include survey-default-with-button;

.gender__button {
  width: 146px;
  height: 54px;
  border: 1px solid #aaa;
  border-radius: 12px;
  color: #aaa;
  background-color: #f8f8f8;
  margin: 0 2px;
}

.gender__button:focus {
  color: $primary;
  border: 1.5px solid $primary;
  font-weight: 700;
}
